<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!--        User-->
        <property name="hibernate.connection.username">root</property>
        <!--        Password-->
        <property name="hibernate.connection.password">root</property>
        <!--        driver-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/bookStore</property>
        <property name="hibernate.show_sql">true</property>
    </session-factory>
</hibernate-configuration>
